@page
@model Proiect_Magazin_Flori.Areas.Identity.Pages.Adresa.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Adrese de livrare</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adresa[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresa[0].Prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresa[0].Oras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresa[0].Strada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Adresa) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strada)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editeaza</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Sterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
